@(implicit guest : Guest, guestRest: List[Restaurant], allRestaurants: List[Restaurant], errorMessage : String)

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/select2@@4.0.13/dist/js/select2.min.js"></script>
<script>
        $(document).ready(function() {
            $("#restSelect").select2({});
        });
</script>
<a href="@routes.AppController.index">Return to main menu</a><br>
<a href="@routes.GuestController.guests">Return guests list</a><br>
<div class="error">@errorMessage</div>
@if(guest != null) {
<table>
    <tr>
        <th>First Name</th>
        <th>Last Name</th>
        <th>Email</th>
        <th>Phone</th>
    </tr>
    <tr>
        <td>@guest.getFirstName()</td>
        <td>@guest.getLastName()</td>
        <td><a href="mailto:@guest.getEmail()">@guest.getEmail()</a></td>
        <td><a href="tel:@guest.getPhone()">@guest.getPhone()</a></td>
    </tr>
</table><br>

<table>
    <thead>
    VISITED RESTAURANTS
    </thead>
    <br>
    @if(allRestaurants != null && !allRestaurants.isEmpty()) {
    <form method="POST" name="addRest" action="@routes.GuestController.addRelation">
        <input name="guestId" type="hidden" value="@guest.getId()" />
        <select id="restSelect" name="restId">
            @for(restaurant <- allRestaurants){
            <option value="@restaurant.getId()">@restaurant.getName()</option>
            }
        </select>
        <input type="submit"  value="Add restaurant" formtarget = "_parent">
    </form>
    }
    <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Legal Entity</th>
        <th>INN</th>
        <th>Address</th>
    </tr>
    @for(restaurant <- guestRest){
    <tr>
        <td>@restaurant.getId()</td>
        <td><a href="@routes.RestaurantController.restaurant(restaurant.getId())">@restaurant.getName()</a></td>
        <td>@restaurant.getLegalEntity()</td>
        <td>@restaurant.getInn()</td>
        <td>@restaurant.getAddress()</td>
        <td>
            <form method="POST" name="deleteRelRG" action="@routes.GuestController.deleteRelation">
                <input name="guestId" type="hidden" value="@guest.getId()" />
                <input type="hidden"  name="restId" value="@restaurant.getId()">
                <input type="submit"  value="Delete" formtarget = "_parent">
            </form></td>
    </tr>
    }
</table>
}

<style type="text/css">
BODY {
background: white;
}
TABLE {
border-collapse: collapse;
border: 2px; solid;
}
TD, TH {
padding: 3px;
border: 1px solid black;
text-align: left;
}
.error {
    color: red;
}
</style>